{% extends 'base.html' %}

{% block content %}
<div class="bg-gray-500 lg:flex lg:justify-center md:text-4xl md:pl-10 md:pt-2 md:pb-3 lg:text-6xl">
    <h2>Weather</h2>
</div>
<div class="md:flex md:justify-center">
    <form  id="weather_form" hx-post="{% url 'weather' %}" hx-target="#weather_info" hx-swap="outerHTML" method="POST">
        {% csrf_token %}
        <div class="md:pt-5 md:pl-2 lg:pl-10 w-1/4 lg:w-full">
            <input type="text" name="city_name" placeholder="City Name" aria-label="City name" class="border border-2 rounded border-gray-400 focus:bg-gray-200">
            <input type="text" name="country" placeholder="Country (Optional)" aria-label="Country" class="border border-2 rounded border-gray-400 focus:bg-gray-200">
            <button type="submit" hx-indicator=".progress" class="bg-teal-600 text-white md:px-2 border-2 rounded border-teal-500 hover:bg-teal-300 hover:border-teal-500 hover:text-gray-600">
                Check
            </button>
        </div>
    </form>
</div>
<div class="md:pt-7 md:pl-10">
    {% include "table.html" %}
</div>
<div class="bg-gray-500 md:text-xl md:pl-10 md:pt-10 md:pb-10 lg:flex lg:justify-center">
    <p>
        Please write country names without accents.</br>
        Country names are optional.</br></br>
        You can write the country code</br>
        in place of the country name (refer to ISO 3166-1 alpha-2).
    </p>
</div>
{% endblock %}
